<%- contentFor('body') %>
<section class="jumbotron text-center display-4 section-1">
    SOBRE O COVID-19
    <h3 class="text-muted text-uppercase">E sobre mim</h3>
</section>

<section class="jumbotron text-center section-2">
    <h1 class="display-4 text-uppercase">
        COVID-19
    </h1>
    <p class="lead">
        Para aqueles que não sabem o <span class="font-weight-bold">COVID-19</span> é uma doença infecciosa causada pelo
        coronavírus da síndrome respiratória aguda grave 2 (SARS-CoV-2). <span class="font-weight-bold">Os sintomas mais
            comuns são febre, tosse e
            dificuldade em respirar.</span> Cerca de 80% dos casos confirmados são ligeiros ou assintomáticos e a
        maioria
        recupera
        sem sequelas. No entanto, 15% são infeções graves que necessitam de oxigénio e 5% são infeções muito graves que
        necessitam de ventilação. Os casos mais graves podem evoluir para pneumonia grave com insuficiência respiratória
        aguda, falência de vários órgãos e morte.
        A doença foi primeiramente encontrada em 2019 na cidade de Wuhan, China, e se espalhou globalmente, resultando
        na pandemia de 2019–20.
    </p>
    <h1 class="display-4 text-uppercase mt-5">
        Sobre mim
    </h1>
    <p class="lead">
        Olá! Sou o deepz mais conhecido como Alan. Fiz esse site com o intuito de informar aqueles sobre a pandemia do
        COVID-19 a fins de aprimorar meus conhecimentos na coleta de informações de uma API e colocando-as em um site
        utilizando NodeJS e Express, porém possuo também conhecimentos em ReactJS, então se você veio ver o site, ou até
        mesmo deu uma olhada, muito obrigado!
    </p>
</section>